// terrain_config.ron
ClayTilesConfig(
    
    
    texture_image_sections: 4,
     
     
     //diffuse_texture_path: "textures/tiles_array_texture.tga", 
    // normal_texture_path: "textures/tiles_array_normal.tga", 
     tile_types_config_path: "tile_types.ron", 
      
)
